* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}

a {
  color: #313235;
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.material-symbols-rounded {
  font-size: 36px;
}

.navbar {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 72px;
  z-index: 99;
}
.navbar .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  z-index: 99;
}
.navbar .links-container {
  background: #ffa6a6;
  position: fixed;
  height: 100vh;
  width: 100%;
  -webkit-clip-path: circle(0% at 100% 0%);
          clip-path: circle(0% at 100% 0%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-top: 72px;
}
.navbar .links-container a {
  color: #313235;
  padding: 16px 16px;
  font-size: 16px;
  display: block;
}
.navbar .menu {
  color: #313235;
  display: -webkit-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 16px;
  z-index: 99;
}
.navbar .show {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.hero {
  padding: 20px 16px;
}
.hero .container {
  margin-bottom: 40px;
}
.hero .container .greeting {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 40px;
}
.hero .container .email {
  font-size: 23px;
  font-weight: 600;
  border-bottom: 6px solid #7052E0;
  display: inline-block;
  margin-bottom: 40px;
}
.hero .container .cta-links .link {
  font-size: 20px;
  border-radius: 8px;
  margin-right: 10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 10px 5px;
}
.hero .container {
  position: relative;
}
.hero .container .text {
  color: #6DDDE7;
  font-size: 52px;
  font-weight: 900;
  position: relative;
}
.hero .container .role {
  color: #7052E0;
  font-size: 52px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}
.hero .container .blobs {
  width: 60%;
  min-width: 280px;
  height: auto;
  position: absolute;
  right: -16px;
  bottom: -50px;
}
.hero .container .blobs .circle-big {
  -webkit-animation: rotate 60s infinite linear;
          animation: rotate 60s infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.hero .container .blobs .circle-small {
  -webkit-animation: scale 10s infinite linear;
          animation: scale 10s infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.hero .container .blobs .rectangle {
  animation: rotate-rect 10s infinite linear reverse;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.portfolio {
  padding: 20px 16px;
}
.portfolio .container-heading {
  margin-bottom: 40px;
}
.portfolio .container-heading .heading {
  color: #313235;
  font-size: 48px;
}
.portfolio .container-heading .subheading {
  color: #A69CCA;
}
.portfolio .project {
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
}
.portfolio .project:last-child {
  margin-bottom: 0;
}
.portfolio .project .container-title {
  margin-bottom: 40px;
}
.portfolio .project .container-title .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 16px;
}
.portfolio .project .container-title .title {
  color: #313235;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 16px;
}
.portfolio .project .container-title .text {
  font-size: 20px;
  margin-bottom: 40px;
}
.portfolio .project .container-title .projects-btn {
  color: #313235;
  font-weight: 600;
  text-transform: uppercase;
}
.portfolio .project .img-container {
  margin-bottom: 0;
}
.portfolio .project .img-container img {
  width: 100%;
  border-radius: 16px;
}
.portfolio .p-one {
  background: #FCF8F5;
}
.portfolio .p-one .icon {
  background: #F7D8AE;
}
.portfolio .p-one .text {
  color: #D19542;
}
.portfolio .p-two {
  background: #F4F8F9;
}
.portfolio .p-two .icon {
  background: #92E2F5;
}
.portfolio .p-two .text {
  color: #2DABC9;
}
.portfolio .p-three {
  background: #F5F7FB;
}
.portfolio .p-three .icon {
  background: #8FB2F8;
}
.portfolio .p-three .text {
  color: #275ABF;
}
.portfolio .p-four {
  background: #F9FDF2;
}
.portfolio .p-four .icon {
  background: #D3FA8E;
}
.portfolio .p-four .text {
  color: #88C220;
}

.skills {
  color: #313235;
  padding: 20px 16px;
}
.skills .container-heading {
  margin-bottom: 40px;
}
.skills .container-heading .heading {
  color: #313235;
  font-size: 48px;
}
.skills .container-heading .subheading {
  color: #A69CCA;
}
.skills .col {
  margin-bottom: 20px;
}
.skills .col:last-child {
  margin-bottom: 0;
}
.skills .col .heading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.skills .col .item {
  font-size: 16px;
  margin-bottom: 10px;
}
.skills .col .item:last-child {
  margin-bottom: 0;
}

.certificates {
  color: #313235;
  padding: 20px 16px;
}
.certificates .container-heading {
  margin-bottom: 40px;
}
.certificates .container-heading .heading {
  color: #313235;
  font-size: 48px;
}
.certificates .container-heading .subheading {
  color: #A69CCA;
}
.certificates .row .col {
  margin-bottom: 20px;
}
.certificates .row .col:last-child {
  margin-bottom: 0;
}
.certificates .row .col .heading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.certificates .row .col .item {
  font-size: 16px;
  margin-bottom: 10px;
}
.certificates .row .col .date {
  color: #A69CCA;
  font-size: 16px;
}

.contact {
  color: #313235;
  padding: 20px 16px;
}
.contact .heading {
  color: #313235;
  font-size: 48px;
  margin-bottom: 20px;
}
.contact .email {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.contact .phone {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}
.contact .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact .links .link {
  margin-right: 20px;
}
.contact .links .link:last-child {
  margin-right: 0;
}
.contact .links .link .fa-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.contact .links .link .fa-brands:hover {
  opacity: 0.8;
}
.contact .links .link .fa-github {
  background: #F1F1F1;
  font-size: 32px;
}
.contact .links .link .fa-dribbble {
  color: #ED4F8D;
  background: #FBEEF7;
  font-size: 32px;
}
.contact .links .link .fa-linkedin-in {
  color: #0A66C2;
  background: #EEF3FB;
  font-size: 32px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 16px;
}
.footer .github-link {
  font-size: 14px;
  font-weight: 500;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes rotate-rect {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-rect {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) {
  .navbar .brand {
    padding-left: 40px;
  }
  .navbar .menu {
    padding-right: 18px;
  }
  .navbar .menu span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 72px;
    min-height: 72px;
  }

  .hero {
    padding: 40px 40px;
  }
  .hero .container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .hero .container .text,
.hero .container .role {
    font-size: 100px;
  }
  .hero .container .blobs {
    min-width: 420px;
    right: -40px;
  }

  .portfolio {
    padding: 40px 40px;
  }
  .portfolio .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 280px;
    max-height: 280px;
  }
  .portfolio .project .container-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 40px 0 0;
  }
  .portfolio .project .container-title .icon,
.portfolio .project .container-title .title,
.portfolio .project .container-title .text {
    margin-bottom: 0;
  }
  .portfolio .project .img-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .portfolio .project .img-container img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .portfolio .p-two .container-title,
.portfolio .p-four .container-title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 0 40px;
  }
  .portfolio .p-two .img-container,
.portfolio .p-four .img-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .skills {
    padding: 40px 40px;
  }
  .skills .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills .row .col {
    margin-bottom: 0;
  }

  .certificates {
    padding: 40px 40px;
  }
  .certificates .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .certificates .row .col {
    margin: 0 80px 0 0;
  }

  .contact {
    padding: 40px 40px;
  }

  .footer {
    padding: 16px 40px;
  }
}
@media screen and (min-width: 1024px) {
  .navbar .links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    position: unset;
    height: auto;
    width: auto;
    -webkit-clip-path: none;
            clip-path: none;
    padding-top: unset;
    padding-right: 40px;
    -webkit-transition: none;
    transition: none;
  }
  .navbar .links-container .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .links-container .links a {
    padding: 0 16px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .navbar .links-container .links a:hover {
    opacity: 80%;
  }
  .navbar .menu {
    display: none;
  }

  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .container {
    margin-bottom: 0;
  }
  .hero .container .cta-links .link {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .hero .container .cta-links .link:hover {
    background: #D9D0F8;
  }
  .hero .container .blobs {
    width: 80%;
  }

  .portfolio .project .container-title {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .portfolio .project .container-title .icon,
.portfolio .project .container-title .title {
    margin-bottom: 16px;
  }
  .portfolio .project .container-title .text {
    margin-bottom: 40px;
  }
  .portfolio .project .container-title .projects-btn {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .portfolio .project .container-title .projects-btn:hover {
    opacity: 80%;
  }
  .portfolio .project .img-container {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .portfolio .project .img-container img {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .skills .row {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .skills .row .col {
    margin-right: 80px;
  }
  .skills .row .col:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1440px) {
  .navbar,
.hero,
.portfolio,
.skills,
.certificates,
.contact,
.footer {
    max-width: 1440px;
    margin: 0 auto;
  }

  .navbar .brand {
    padding: 0;
  }
  .navbar .links-container {
    padding: 0;
  }
}